/* CSS file */
Application { backgroundAlpha: 0; }
/*  Application { backgroundAlpha: 1; backgroundColor: #000; } */ 
VBox {
	paddingLeft: 4;
	paddingTop: 4;
	fontSize: 9;
	verticalGap: 0;
	textAlign: left;
}
Label {
	color: #FFF;
}